// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
  @import "bootstrap-sprockets";
  @import "bootstrap";

// VARIABLES

  $form1: darken(#428bca, 6.5%);
  

// MAIN

  body {
    background: white;
    padding: 1%;
    margin: 0;
    h1.jumbotron {
      border-radius: 10px;
      text-align: center;
      padding: 60px 10px;
    }
  }

// NAVBAR

  ul {
    padding: 0;
    margin: 0;
  }

// FOOTER

  p.footer {
    padding-top: 20px;
    text-align: center;
  }
// DEVISE

  .notice, .alert {
    padding: 0;
    margin: 0;
  }

// FORMS

  .form-field {
    background: lighten($form1, 49%);
    padding: 2px;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    font-size: 1.8em;


    &:focus {
      background: lighten($form1, 47%);
    }
  }

  input[type="submit"] {
    background: $form1;
    width: 100%;
    color: lighten($form1, 49%);
    border: 1px solid $form1;
    border-radius: 5px;
    font-size: 1.8em;

    &:hover {
      border: 1px solid black;
      background: lighten($form1, 10%);
      color: white;
    }
  }

// SHOW POSTINGS

  .show-post {
    padding: 5px inherit;
  }